include LICENSE
include README.md
include pyproject.toml
include MANIFEST.in
include CODE_OF_CONDUCT.md
include versioneer.py

graft testproject
global-exclude *.py[cod] __pycache__ *.so

graft automembrane

# Documentation
graft docs

# Unit Test
graft tests

# Exclusions
global-exclude *.py[cod] __pycache__ *.so
